body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #25c0d1e4;
}

h1 {
    margin: 20px 0;
    color: #333;
    font-size: 24px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 5px;
    margin: 20px 0;
}

/* Style for the grid container */
.grid-container {
    display: grid;
    gap: 2px;
}

/* Default cell style */
.cell {
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}


.start {
    background-color: #0d7e0d; /* Bright green */
}

.end {
    background-color: crimson;
}

.visited {
    background-color: #277fa8;
}

.path {
    background-color:rgba(0, 0, 255, 0.7)  ;
}

.wall {
    background-color: #0a0909;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}


#debug-panel {
    width: 40%;
    margin-top: 20px;
    padding: 15px;
    background-color: #271f1f;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #4c4545;
    text-align: left;
}

#debug-text {
    font-size: 1.1em;
    color: #696464;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

h2 {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
